<! doctype html>
<html>
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <style>
        body {
            background-color: rgba(15, 15, 163, 0.5);
            padding: 80px;
        }
        form {
            padding-right: 300px;
            padding-left: 300px;
        }
    </style>

    <body>
        <div class="container">
            <form action="/block" method="POST">
                <h2>BLOCK USER</h2>
                <div class="form-group">
                  <label >User Name </label>
                  <input type="text" name="blockname" class="form-control" placeholder="Enter username of user to be blocked">
                </div>
                
                <button type="submit" class="btn btn-primary">Block</button>
              </form>
        </div>
    </body>
</html>