<! doctype html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <style>
        body {
            background-color: rgba(15, 15, 163, 0.5);
            padding: 80px;
        }
        form {
            padding-right: 300px;
            padding-left: 300px;
        }
    </style>

    <body>
            <div class="container">

                    <div class="jumbotron text-center">
                        <h1>HOME</h1>
                
                        <a href="/sendmessage" class="btn btn-default"><span class="fa fa-user"></span>compose </a>
                        <a href="/inbox" class="btn btn-default"><span class="fa fa-user"></span>inbox</a>
                        <a href="/blockuser" class="btn btn-default"><span class="fa fa-user"></span>block</a>
                    </div>
                
                </div>
    </body>
</html>